@model IEnumerable<SistemaDeCotizacion.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehículos";
}

<h2>Lista de Vehículos</h2>

<p>
    <a class="btn btn-primary" asp-action="Nuevo">Registrar nuevo vehículo</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Placa</th>
            <th>Fecha Registro</th>
            <th>Kilometraje</th>
            <th>Cliente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.modelo</td>
                <td>@v.marca</td>
                <td>@v.placa</td>
                <td>@v.fecha_registro_vehiculo.ToString("yyyy-MM-dd")</td>
                <td>@v.kilometraje</td>
                <td>@v.cliente?.nombre_cliente</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Editar" asp-route-id="@v.vehiculo_id">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-route-id="@v.vehiculo_id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
